### QUESTIONS
1. Create a variable called few_number and assign a range of numbers between 25 to 106 using the range function
   * Print the list of the range
   * Count the total number of elements in the variable few_number
   * Retrieve the last number in the list
   * Sort the elements in descending order.
   * After sorting the elements, retrieve the last elemensts in the list

2. Create an empty list called data_engineers
   * Add all the names of everyone in the data engineering hub group to the empty list
   * Sort the list in ascending order after adding everyone
   * Replace the last element with the name Caleb
   * Retrieve 3 elements that follows each other starting with the first index (Expected to use index slicing) and assign the output to a variable called subset_names.
   * Print the the total elements in subset_names.

3. Create a variable called price and assign a value 100 to it.
   * Print tha value of the price with a meaningful statement using F-string interpolation or formatting.
   * Create any 2 random strings, and assign them to their corresponding variables.
   * Concatenate both strings together and assign the output to another variable called concatenated_strings.
   * Print the new variable concatenated_strings.
   * Print the total character in the variable concatenated_strings.

In [1]:
# createa variable called few_number
few_number = list(range(25, 106))

In [2]:
# print all the elements in the list
print(few_number)

[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105]

In [3]:
# count all the elements in the list
print(len(few_number))

81

In [4]:
# retrieve the last element in the list
few_number[-1]

105

In [5]:
# sort the elements in the list in descending order
sorted_list = sorted(few_number, reverse = True)

In [6]:
print(sorted_list)

[105, 104, 103, 102, 101, 100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25]

In [7]:
# retrieve the last element from the sorted list
print(sorted_list[-1])

25

QUESTION 2

In [8]:
# create an empty list called data_engineers
data_engineers = []

In [9]:
# list containg everyone on the data engineering hub group
everyone = ["chichi", "mayor", "esther", "segun", "joachim", "chukwujekwu", "amanda", "yinka", "paul"]

In [10]:
# ieterate through the list appending each names in the empty list
for name in everyone:
    data_engineers.append(name)

print(data_engineers)

['chichi', 'mayor', 'esther', 'segun', 'joachim', 'chukwujekwu', 'amanda', 'yinka', 'paul']

In [11]:
# sort the newly filled list in ascending order

sorted_data_hub = sorted(data_engineers)
print(sorted_data_hub)

['amanda', 'chichi', 'chukwujekwu', 'esther', 'joachim', 'mayor', 'paul', 'segun', 'yinka']

In [12]:
# Replace the last element with caleb
sorted_data_hub[-1] = "caleb"

In [13]:
print(sorted_data_hub)

['amanda', 'chichi', 'chukwujekwu', 'esther', 'joachim', 'mayor', 'paul', 'segun', 'caleb']

In [15]:
# retrieve 3 elements that follows each other from the first index
subset_names = sorted_data_hub[:3]

In [16]:
print(subset_names)

['amanda', 'chichi', 'chukwujekwu']

In [17]:
# Create a variable called price and assign the value 100 to it
price = 100

In [19]:
# print the value of the price with a meaningful statement using f'string
print(f"The price of a pair of googles is ${price}.")

The price of a pair of googles is $100.

In [21]:
# assign the color and outfit type to two variables
color = "Blue"
outfit = "Pants"

In [22]:
# concatenate both strings into a variable called concatenated_strings
concatenated_strings = color + " " + outfit

In [23]:
print(concatenated_strings)

Blue Pants