## QUESTIONS

1. Create any random Dictionary with 5 items
    * retrieve all its keys at the same time
    * retrieve all its values at the same time

In [1]:
isp_user = {"spectranet": ["rand", "jekwu"], "mtn": ["samuel", "taiwo"], "starlink": ["bosun", "mayor", "segun"]}

In [2]:
# retrieve all the keys
print(isp_user.keys())

dict_keys(['spectranet', 'mtn', 'starlink'])

In [4]:
# retrive all its values at the same time
print(isp_user.values())

dict_values([['rand', 'jekwu'], ['samuel', 'taiwo'], ['bosun', 'mayor', 'segun']])

2. Create a random list that contains duplicate elements
   * find a way to remove all the duplicates so as to have a unique element in the list.

In [6]:
# create a random list that contains duplicate elements
fruits = ["apple", "pine", "cherry", "grapes", "apple", "cherry"]

In [10]:
# remove all duplicates, leaving only unique elements
fruits_new = list(set(fruits))
print(fruits_new)

['pine', 'grapes', 'apple', 'cherry']

3. Create any random tuple with 5 elements in it
   * find a way to add 1 element to the tuple
   * find a way to remove the first index of the tuple
   * find a way to change the second index of the element to another element

In [11]:
cars = ("jaguar", "peugeot", "benz", "toyota", "maseratti")

In [16]:
cars_lst = list(cars)

In [17]:
cars_lst.append("volvo")
print(cars_lst)

['jaguar', 'peugeot', 'benz', 'toyota', 'maseratti', 'volvo']

In [18]:
cars_tuple = tuple(cars_lst)

In [19]:
print(cars_tuple)

('jaguar', 'peugeot', 'benz', 'toyota', 'maseratti', 'volvo')

In [29]:
new_list = list(cars_tuple)

In [30]:
new_list.pop(0)

'jaguar'

In [31]:
print(new_list)

['peugeot', 'benz', 'toyota', 'maseratti', 'volvo']

In [32]:
cars_popped = tuple(new_list)
print(cars_popped)

('peugeot', 'benz', 'toyota', 'maseratti', 'volvo')

In [37]:
# copy to new list and replace the second index to daewoo
lst = new_list.copy()

lst[1] = "daewoo"
print(lst)

['peugeot', 'daewoo', 'toyota', 'maseratti', 'volvo']

In [36]:
# covert back to tuple
cars_tpl = tuple(lst)
print(cars_tpl)

('peugeot', 'daewoo', 'toyota', 'maseratti', 'volvo')

4. Create a random set with 10 numbers
   * convert the set to a list
   * count the total element in the list
   * divide the result of the count by 2 : **note** make sure the result is an integer, must not use round function

In [58]:
# create a set
num = {1, 2, 4, 12, 15, 26, 34, 56, 45, 16}

In [59]:
print(type(num))

<class 'set'>

In [60]:
# convert to list
num_lst = list(num)

In [61]:
print(num_lst)

[1, 2, 34, 4, 12, 45, 15, 16, 56, 26]

In [62]:
# count number of elements in the list
print(len(num_lst))

10

In [63]:
result = len(num_lst)//2

In [64]:
print(result)

5