## PYTHON VARIABLE

In [1]:
x = 5

In [2]:
address = '3, olukayode'

In [3]:
address

'3, olukayode'

## Variable Naming Convention
- A variable name must start with a letter or the underscore chracter.
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric chracters and underscores (A-z, 0-9, and _)
- Variable names are case-sensitive (age, Age, and AGE are three different variables)

## PRINT KEYWORD

we use print keyword to output value of a variable

NOTE:
* () is called parentheses
* {} is called Curly braces
* [] is square brackets

In [4]:
x = 10

In [5]:
print(x)

10

In [6]:
print(address)

3, olukayode

In [7]:
is_married = True

### PYTHON COMMENTS

In [1]:
## This is a comment

In [3]:
# this is a variable with value called mayowa
first_name = 'mayowa'

In [4]:
# printing the value of the first_name variable
print(first_name)

mayowa

## DATA TYPE CHECKS

In [5]:
age = 25

In [9]:
# checking the data type of variable age
print(type(age))

<class 'int'>

In [10]:
is_student = False

In [11]:
print(type(is_student))

<class 'bool'>

In [12]:
height = 8.3

In [13]:
print(type(height))

<class 'float'>

In [14]:
name = "amanda"

In [15]:
print(type(name))

<class 'str'>

In [16]:
corrupt_number = "5"

In [17]:
print(corrupt_number)

5

In [19]:
type(corrupt_number)

str

## DATA TYPE CASTING / CONVERSION

In [20]:
corrupt_number = "29"

In [21]:
print(corrupt_number)

29

In [22]:
# adding 1 with a string number will result to an error

print (corrupt_number + 1)

TypeError: can only concatenate str (not "int") to str

In [23]:
cleaned_data = int(corrupt_number)

In [24]:
print(cleaned_data + 1)

30

In [26]:
print(type(cleaned_data))

<class 'int'>

In [27]:
print(type(corrupt_number))

<class 'str'>

In [28]:
weight = "56.7"

In [29]:
print(weight)

56.7

In [30]:
print(type(weight))

<class 'str'>

In [31]:
cleaned_weight = float(weight)

In [32]:
print(type(cleaned_weight))

<class 'float'>

In [33]:
print(cleaned_weight)

56.7

In [34]:
number = 10

In [35]:
new_number = float(number)

In [36]:
print(new_number)

10.0

In [37]:
print(type(new_number))

<class 'float'>

In [38]:
x = 5.9

In [39]:
new_x = int(x)

In [41]:
print(new_x)

5

In [42]:
rounded_x = round(x)

In [43]:
print(rounded_x)

6

In [44]:
y = 11.767

In [50]:
rounded_x_two_decimal = round(y, 2)

In [51]:
print(rounded_x_two_decimal)

11.77

## CONCATENATION

In [4]:
first_name = "chukwujekwu "

In [2]:
last_name = "anah"

In [6]:
full_name = first_name + last_name

In [7]:
print(full_name)

chukwujekwu anah

In [8]:
print("how " + "are" + " you")

how are you

### Multiline Strings

In [11]:
name = """chizoba anajemba 
ugochukwu okoronkwo"""

In [12]:
print(name)

chizoba anajemba
ugochukwu okoronkwo

## USER INPUT

In [15]:
question = int(input("please what is your age ?: "))

please what is your age ?:  10

In [16]:
print(question)

10

In [17]:
new_age = question + 10

In [18]:
print(new_age)

20

## STRING INTERPOLATION

In [19]:
age = 30

In [20]:
print(age)

30

In [29]:
# Even though this works, this method does not alight with proper programming ethics
print("my age is", age)

my age is 30

In [26]:
# Using f-string string formatting is the most ideal method
print(f"my age is {age}")

my age is 30

In [30]:
# more examples
print(f"my name is chukwujekwu, i am {age} years old")

my name is chukwujekwu, i am 30 years old

### STRING METHODS OR FUNCTIONS

In [31]:
name = "chukwujekwu"

In [35]:
# convert to uppercase
print(name.upper())

CHUKWUJEKWU

In [36]:
last_name = "ANAH"

In [37]:
# convert name to lower_case
print(last_name.lower())

anah

In [38]:
address = " no 8 olukayode adegoyeda igboeshin"

In [40]:
# count the number of times the letter o occurs in the address provided
print(address.count("o"))

5

In [41]:
car = "lamborghini"

In [43]:
# check if the car begins with an L
print(car.startswith("l"))

True

In [44]:
# check if the car name ends with a c
print(car.endswith("c"))

False

In [47]:
corrupt_data = "56y"

In [48]:
print(corrupt_data.isnumeric())

False

In [49]:
corrupt_num = "56"

In [50]:
print(corrupt_num.isnumeric())

True

In [51]:
name = "bahman"

In [52]:
correct_name = name.replace("b", "r")

In [54]:
print(correct_name)

rahman

In [56]:
animal = "elephant"

In [59]:
# the replace method replaces any occurence of the specified character with the new character
animal_refix = animal.replace("e", "j")

In [58]:
print(animal_refix)

jljphant

In [60]:
name = "mayo wa"

In [61]:
refix = name.replace(" ", "")

In [62]:
print(refix)

mayowa

In [63]:
age = 25

In [65]:
# it can be seen that the method replace is strictly a string method an cant work on other datatypes
age.replace(2, 5)

AttributeError: 'int' object has no attribute 'replace'

### PYTHON OPERATORS

#### arithmetic operators

In [66]:
print(2 + 2) # addition

4

In [67]:
print(4 - 2) # substraction

2

In [68]:
print(4 * 2) # multiplication

8

In [69]:
print(10 / 2) # division

5.0

In [70]:
print(10 // 2) # floor division : returns a the whole number result

5

In [72]:
print(17 % 3) # modulo : returns the remnant

2

In [74]:
print(2 ** 3) # exponential

8

#### Comparison Operators

the response is always going to be a boolean

In [76]:
print(4 == "4") # equal

False

In [78]:
print(2 != 2) # not equal

False

In [79]:
print(2 > 4) # greater than

False

In [80]:
print(5 < 2) # less than

False

In [81]:
print(2 <= 4) # less than or equal

True

In [82]:
print(3 >= 3) # greater than or equals to

True

#### Membership Operators

In [83]:
name = "emmanuel"

In [87]:
print("m" in name) # in

True

In [85]:
print("M" in name)

False

In [86]:
print("j" not in name) # not in

True