### PYTHON DATA STRUCTURES

There are 4 distinct types of data structures in python :
* List
* Dictionary
* Tuple
* Set

#### List

In [1]:
# An example of a list containing student names
students = ["chukwujekwu", "amanda", "elizabeth", "taylor", "jack"]

In [3]:
print(students)

['chukwujekwu', 'amanda', 'elizabeth', 'taylor', 'jack']

In [2]:
print(type(students))

<class 'list'>

In [4]:
age = [26, 19, 50, 60, 35]

In [5]:
print(age)

[26, 19, 50, 60, 35]

In [6]:
print(type(age))

<class 'list'>

In [7]:
rand_info = ["rand", "19", "brown", "5.11"]

In [8]:
print(type(rand_info))

<class 'list'>

#### Indexing/Positioning

E M M A N U E L

1 2 3 4 5 6 7 8         # Human numbering

0 1 2 3 4 5 6 7         # python numbering

In [10]:
# Items in a list is called an element
cars = ["toyota", "porche", "tata", "volvo", "nord"]

In [12]:
# retrieving the 4th element in the list
print(cars[3])

volvo

In [14]:
# retrieving tata from the list
print(cars[2])

tata

In [16]:
# retrieving nord car from the list
print(cars[-1]) # negative indexing is valid in python

nord

In [17]:
# counting the number of elements in a list
print(len(cars))

5

In [20]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [21]:
# len works on strings 
print(len("chukwujekwu"))

11

**Slicing in lists**

In [22]:
random_list = [1, 2, 5, 10, 2]

In [23]:
print(random_list[2])

5

In [26]:
# fetching the first 3 numbers in the list using index slicing
print(random_list[:3])

[1, 2, 5]

note : that Lists are mutable , can contain duplicates, and can have a variety of datatypes in a list

In [27]:
# to retrieve from start to end via index slicing
print(random_list[:])

[1, 2, 5, 10, 2]

In [28]:
# to retrieve from the second element to the end
print(random_list[1:])

[2, 5, 10, 2]

In [29]:
name  = "Chinyere is a lady boss"

In [34]:
# checking the number of characters in the string
print(len(name))

23

In [33]:
# fetching chinyere from the string name
print(name[:8])

Chinyere

### Element Changing

In [35]:
num = [1, 4, 2]

In [36]:
# check for the index of the number 2
print(num.index(2))

2

In [37]:
num[2] = 10

In [38]:
print(num)

[1, 4, 10]

***Adding Elements in Lists***

In [39]:
fruits = ["pineapple", "apple", "banana"]

In [43]:
# add a new fruit cherry into the list fruits using the append method 
fruits.append("cherry")

In [42]:
print(fruits)

['pineapple', 'apple', 'banana', 'cherry']

In [44]:
# The append method accepts only one argument
cars = ["benz", "nord", "landrover"]
cars.append("volvo", "porche")

TypeError: list.append() takes exactly one argument (2 given)

In [46]:
# removing elements in a list using the remove method
cars.remove("nord")

In [48]:
# the nord element has been removed successfully
print(cars)

['benz', 'landrover']

In [49]:
# removing and element not in the list generates a value error
cars.remove("porche")

ValueError: list.remove(x): x not in list

***Sorting Elements in Lists***

In [50]:
alphabets = ["e", "b", "a", "c", "d"]

In [51]:
# sorting the list using the sort method where it sorts ascending by default
alphabets.sort()

In [52]:
print(alphabets)

['a', 'b', 'c', 'd', 'e']

In [53]:
numbers = [1, 5, 2, 10, 4, 6]

In [54]:
# sort the list in descending order
numbers.sort(reverse = True)

In [55]:
print(numbers)

[10, 6, 5, 4, 2, 1]

In [56]:
# sort in ascending order
numbers.sort()

In [57]:
print(numbers)

[1, 2, 4, 5, 6, 10]

In [58]:
dates = ["2023-12-04", "2023-12-01", "2023-12-03", "2023-12-02", "2023-12-10"]

In [59]:
dates.sort(reverse=True)

In [60]:
print(dates)

['2023-12-10', '2023-12-04', '2023-12-03', '2023-12-02', '2023-12-01']

***Range Function***

In [61]:
long_list = range(1, 100)

In [63]:
# it does not output correctly without passing it into the list function 
print(long_list)

range(1, 100)

In [66]:
# Now it outputs correctly and it does not include the last digit specified
print(list(long_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [69]:
# You can generate a list by an interval
short_list = list(range(1, 20,2))

In [70]:
print(short_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]