## PYTHON VARIABLE

In [1]:
x = 5

In [2]:
address = '3, olukayode'

In [3]:
address

'3, olukayode'

## Variable Naming Convention
- A variable name must start with a letter or the underscore chracter.
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric chracters and underscores (A-z, 0-9, and _)
- Variable names are case-sensitive (age, Age, and AGE are three different variables)

## PRINT KEYWORD

we use print keyword to output value of a variable

NOTE:
* () is called parentheses
* {} is called Curly braces
* [] is square brackets

In [4]:
x = 10

In [5]:
print(x)

10

In [6]:
print(address)

3, olukayode

In [7]:
is_married = True

### PYTHON COMMENTS

In [1]:
## This is a comment

In [3]:
# this is a variable with value called mayowa
first_name = 'mayowa'

In [4]:
# printing the value of the first_name variable
print(first_name)

mayowa

## DATA TYPE CHECKS

In [5]:
age = 25

In [9]:
# checking the data type of variable age
print(type(age))

<class 'int'>

In [10]:
is_student = False

In [11]:
print(type(is_student))

<class 'bool'>

In [12]:
height = 8.3

In [13]:
print(type(height))

<class 'float'>

In [14]:
name = "amanda"

In [15]:
print(type(name))

<class 'str'>

In [16]:
corrupt_number = "5"

In [17]:
print(corrupt_number)

5

In [19]:
type(corrupt_number)

str

## DATA TYPE CASTING / CONVERSION

In [20]:
corrupt_number = "29"

In [21]:
print(corrupt_number)

29

In [22]:
# adding 1 with a string number will result to an error

print (corrupt_number + 1)

TypeError: can only concatenate str (not "int") to str

In [23]:
cleaned_data = int(corrupt_number)

In [24]:
print(cleaned_data + 1)

30

In [26]:
print(type(cleaned_data))

<class 'int'>

In [27]:
print(type(corrupt_number))

<class 'str'>

In [28]:
weight = "56.7"

In [29]:
print(weight)

56.7

In [30]:
print(type(weight))

<class 'str'>

In [31]:
cleaned_weight = float(weight)

In [32]:
print(type(cleaned_weight))

<class 'float'>

In [33]:
print(cleaned_weight)

56.7

In [34]:
number = 10

In [35]:
new_number = float(number)

In [36]:
print(new_number)

10.0

In [37]:
print(type(new_number))

<class 'float'>

In [38]:
x = 5.9

In [39]:
new_x = int(x)

In [41]:
print(new_x)

5

In [42]:
rounded_x = round(x)

In [43]:
print(rounded_x)

6

In [44]:
y = 11.767

In [50]:
rounded_x_two_decimal = round(y, 2)

In [51]:
print(rounded_x_two_decimal)

11.77

## CONCATENATION

In [4]:
first_name = "chukwujekwu "

In [2]:
last_name = "anah"

In [6]:
full_name = first_name + last_name

In [7]:
print(full_name)

chukwujekwu anah

In [8]:
print("how " + "are" + " you")

how are you

### Multiline Strings

In [11]:
name = """chizoba anajemba 
ugochukwu okoronkwo"""

In [12]:
print(name)

chizoba anajemba
ugochukwu okoronkwo

## USER INPUT

In [15]:
question = int(input("please what is your age ?: "))

please what is your age ?:  10

In [16]:
print(question)

10

In [17]:
new_age = question + 10

In [18]:
print(new_age)

20

## STRING INTERPOLATION

In [19]:
age = 30

In [20]:
print(age)

30

In [29]:
# Even though this works, this method does not alight with proper programming ethics
print("my age is", age)

my age is 30

In [26]:
# Using f-string string formatting is the most ideal method
print(f"my age is {age}")

my age is 30

In [30]:
# more examples
print(f"my name is chukwujekwu, i am {age} years old")

my name is chukwujekwu, i am 30 years old