### PYTHON DATA STRUCTURES

There are 4 distinct types of data structures in python :
* List
* Dictionary
* Tuple
* Set

#### List

In [1]:
# An example of a list containing student names
students = ["chukwujekwu", "amanda", "elizabeth", "taylor", "jack"]

In [2]:
print(students)

['chukwujekwu', 'amanda', 'elizabeth', 'taylor', 'jack']

In [3]:
print(type(students))

<class 'list'>

In [4]:
age = [26, 19, 50, 60, 35]

In [5]:
print(age)

[26, 19, 50, 60, 35]

In [6]:
print(type(age))

<class 'list'>

In [7]:
rand_info = ["rand", "19", "brown", "5.11"]

In [8]:
print(type(rand_info))

<class 'list'>

#### Indexing/Positioning

E M M A N U E L

1 2 3 4 5 6 7 8         # Human numbering

0 1 2 3 4 5 6 7         # python numbering

In [9]:
# Items in a list is called an element
cars = ["toyota", "porche", "tata", "volvo", "nord"]

In [10]:
# retrieving the 4th element in the list
print(cars[3])

volvo

In [11]:
# retrieving tata from the list
print(cars[2])

tata

In [12]:
# retrieving nord car from the list
print(cars[-1]) # negative indexing is valid in python

nord

In [13]:
# counting the number of elements in a list
print(len(cars))

5

In [14]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [15]:
# len works on strings 
print(len("chukwujekwu"))

11

**Slicing in lists**

In [16]:
random_list = [1, 2, 5, 10, 2]

In [17]:
print(random_list[2])

5

In [18]:
# fetching the first 3 numbers in the list using index slicing
print(random_list[:3])

[1, 2, 5]

note : that Lists are mutable , can contain duplicates, and can have a variety of datatypes in a list

In [19]:
# to retrieve from start to end via index slicing
print(random_list[:])

[1, 2, 5, 10, 2]

In [20]:
# to retrieve from the second element to the end
print(random_list[1:])

[2, 5, 10, 2]

In [21]:
name  = "Chinyere is a lady boss"

In [22]:
# checking the number of characters in the string
print(len(name))

23

In [23]:
# fetching chinyere from the string name
print(name[:8])

Chinyere

### Element Changing

In [24]:
num = [1, 4, 2]

In [25]:
# check for the index of the number 2
print(num.index(2))

2

In [26]:
num[2] = 10

In [27]:
print(num)

[1, 4, 10]

***Adding Elements in Lists***

In [28]:
fruits = ["pineapple", "apple", "banana"]

In [29]:
# add a new fruit cherry into the list fruits using the append method 
fruits.append("cherry")

In [30]:
print(fruits)

['pineapple', 'apple', 'banana', 'cherry']

In [31]:
# The append method accepts only one argument
cars = ["benz", "nord", "landrover"]
cars.append("volvo", "porche")

TypeError: list.append() takes exactly one argument (2 given)

In [36]:
# removing elements in a list using the remove method
cars.remove("nord")

In [37]:
# the nord element has been removed successfully
print(cars)

['benz', 'landrover']

In [38]:
# removing and element not in the list generates a value error
cars.remove("porche")

ValueError: list.remove(x): x not in list

***Sorting Elements in Lists***

In [39]:
alphabets = ["e", "b", "a", "c", "d"]

In [40]:
# sorting the list using the sort method where it sorts ascending by default
alphabets.sort()

In [41]:
print(alphabets)

['a', 'b', 'c', 'd', 'e']

In [42]:
numbers = [1, 5, 2, 10, 4, 6]

In [43]:
# sort the list in descending order
numbers.sort(reverse = True)

In [44]:
print(numbers)

[10, 6, 5, 4, 2, 1]

In [45]:
# sort in ascending order
numbers.sort()

In [46]:
print(numbers)

[1, 2, 4, 5, 6, 10]

In [47]:
dates = ["2023-12-04", "2023-12-01", "2023-12-03", "2023-12-02", "2023-12-10"]

In [48]:
dates.sort(reverse=True)

In [49]:
print(dates)

['2023-12-10', '2023-12-04', '2023-12-03', '2023-12-02', '2023-12-01']

***Range Function***

In [50]:
long_list = range(1, 100)

In [51]:
# it does not output correctly without passing it into the list function 
print(long_list)

range(1, 100)

In [52]:
# Now it outputs correctly and it does not include the last digit specified
print(list(long_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [53]:
# You can generate a list by an interval
short_list = list(range(1, 20,2))

In [54]:
print(short_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### Defining Functions

In [55]:
def cube(num) :
    return num * num * num

In [56]:
print(cube(4))

64

In [57]:
# define a function that appends to list together
list1 = [1, 2, 4, 6, 8]
list2 = [20, 40, 60 , 80]

def fixer( i, j) :
    return i + j

print(fixer(list1, list2))

[1, 2, 4, 6, 8, 20, 40, 60, 80]

In [58]:
# nested for loops example
students = ["anita", "bolaji", "taiwo", "andreas"]
for name in students:
    for i in name:
        print(i)

a
n
i
t
a
b
o
l
a
j
i
t
a
i
w
o
a
n
d
r
e
a
s

### Dictionary

In [59]:
# basic dictionary
detail_dict = {"name" : "sunday", "age": 30, "job": "data engineer", "is_married": False}

In [60]:
print(type(detail_dict))

<class 'dict'>

### Retrieving Dictionary Values

In [61]:
print(detail_dict["age"])

30

In [62]:
print(detail_dict["job"])

data engineer

In [63]:
print(detail_dict["is_married"])

False

In [64]:
print(type(detail_dict["age"]))

<class 'int'>

In [65]:
# using value retrieval in dictionary with string formatting
print(f"My name is {detail_dict["name"]}, I am {detail_dict["age"]} years old,\n it is {detail_dict["is_married"]} that I am married,\n and I work as a {detail_dict["job"]}.")

My name is sunday, I am 30 years old,
 it is False that I am married,
 and I work as a data engineer.

In [66]:
score = { "maths": 24, "english": 40}

In [67]:
print(score.get("maths"))

24

the get method for dictionary allows the retrieval of values in python withput breaking the code when the key isnt in the dictionary.

In [68]:
# we try to to retrieve the value of physics in the dictionary with out previous method
print(score["physics"])

KeyError: 'physics'

In [69]:
# when we use the get method it returns none nad has an argument that allows the specification of what should be returned
print(score.get("physics"))

None

In [70]:
print(score.get("physics", 60))

60

In [71]:
students = {"jekwu": 22, "chichi": 11, "amanda": 35}

In [72]:
print(students.get("chichi"))

11

In [73]:
# counting the number of items in a dictionary
print(len(students))

3

In [76]:
#changing the value of key in a dictionary
students["jekwu"] = 50

In [77]:
print(students)

{'jekwu': 50, 'chichi': 11, 'amanda': 35}

In [80]:
# list the keys in a dictionary
students.keys()

dict_keys(['jekwu', 'chichi', 'amanda'])

In [82]:
# print out the values in the dictionary
print(students.values())

dict_values([50, 11, 35])

In [83]:
# update a dictionaary with new values
students.update({"rand": 37})

In [84]:
print(students)

{'jekwu': 50, 'chichi': 11, 'amanda': 35, 'rand': 37}

In [85]:
# remove data from a dictionary by passing the key into the pop method
students.pop("rand")

37

In [86]:
print(students)

{'jekwu': 50, 'chichi': 11, 'amanda': 35}

## TUPLES

In [87]:
my_tuple = ("rand", "uju", "sanusi", "sheriff", "chika")

In [88]:
print(type(my_tuple))

<class 'tuple'>

In [92]:
# get the index of a value in a tuple
print(my_tuple.index("uju"))

1

In [94]:
print(len(my_tuple))

5

In [96]:
# in order to make changes to a tuple, it is imperative to convert to list first
converted_tuple = list(my_tuple)

In [97]:
print(converted_tuple)

['rand', 'uju', 'sanusi', 'sheriff', 'chika']

In [98]:
converted_tuple[3] = "uche"

In [99]:
print(converted_tuple)

['rand', 'uju', 'sanusi', 'uche', 'chika']

In [100]:
new_tuple = tuple(converted_tuple)

In [101]:
print(type(new_tuple))

<class 'tuple'>

In [102]:
print(new_tuple)

('rand', 'uju', 'sanusi', 'uche', 'chika')

## Tuple Unpacking

In [103]:
names = ("uju", "sharon", "julz", "rand", "temitayo")

In [104]:
(student1, student2, student3, student4, student5) = names

In [105]:
print(student4)

rand

## SETS

In [106]:
numbers = {2, 4, 5, 6, 7, 8}

In [113]:
# sets only return unique values in the set
test = {2, 3, 4, 4, 5, 7}

In [108]:
print(test)

{2, 3, 4, 5, 7}

Irrespective of the number of duplicates, sets will only return unique values

In [110]:
num = {30, 50, 24, 2, 3, 30}

In [112]:
print(type(num))

<class 'set'>

In [114]:
# it can be used to remove duplicates from a given list
lst = ["jekwu", "chichi", "rand", "dennis", "rand"]

In [115]:
set(lst)

{'chichi', 'dennis', 'jekwu', 'rand'}

In [116]:
de_duplicated = list(set(lst))

In [117]:
print(de_duplicated)

['chichi', 'rand', 'jekwu', 'dennis']